<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>О нас</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="head_wrap">
        <a href="#"><img class="logo" src="img/logo.webp" alt=""><p>MAPS</p></a>
        <nav>
          <ul class="main_nav">
            <a href="index.html"><li class="nav_itm">Home</li></a>
            <a href="about.html"><li class="nav_itm">About</li></a>
            <a href="courses.html"><li class="nav_itm">Courses</li></a>
            <a href="quotes.html"><li class="nav_itm">Quotes</li></a>
            <a href="cooperation.html"><li class="nav_itm">Cooperation</li></a>
            <a href="contacts.html"><li class="nav_itm">Contacts</li></a>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
