<!DOCTYPE html>
{% load static %}
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content = "width=device-width, initial-scale = 1">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static "css/adaptive_index.css" %}">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="head_wrap">
        <a href="#"><img class="logo" src="{% static "img/logo.webp" %}" alt=""></a>
        <div class="header_burger">
          <span></span>
        </div>
        <nav class="header_menu">
          <ul class="main_nav">
            <a href="/"><li class="nav_itm">Home</li></a>
            <a href="/about"><li class="nav_itm">About</li></a>
            <a href="/courses"><li class="nav_itm">Courses</li></a>
            <a href="/quotes"><li class="nav_itm">Quotes</li></a>
            <a href="/cooperation"><li class="nav_itm">Cooperation</li></a>
            <a href="/contacts"><li class="nav_itm">Contacts</li></a>
          </ul>
        </nav>
      </div>
    </header>
    <!-- BODY -->
    <main>
      <div class="body_wrap">
        <div class="left_side">
          <img src="{% static "img/base.webp" %}" alt="">
        </div>
        <div class="right_side">
          <h1 class="maps">MAPS</h1>
          <p class="maps_p">Education Center</p>
          <a class="enroll_button" href="#">Записаться</a>
        </div>
      </div>

      <!-- ABOUT BODY 2  -->
      <div class="body_wrap_about">
        <h1>About Us</h1>
        <div class="all_of_circle">
          <div class="first_circle">
            <a href="#"><img class="first_img" src="{% static "img/1.jpg" %}" alt=""></a>
          </div>
          <div class="second_circle">
            <a href="#"><img class="secons_img" src="{% static "img/2.jpg" %}" alt=""></a>
          </div>
          <div class="first_circle">
            <a href="#"><img class="first_img" src="{% static "img/3.jpg" %}" alt=""></a>
          </div>
        </div>
        <div class="">



          <p>MAPS IT - это международный IT центр в котором ты найдешь себя.

  Мы тренируем и выполняем проекты с нашими молодыми программистами. Наши студенты они и стажеры, обучаются по таким направлениям:

  📌 Программирование

  🌠 Дизайн

  📱 Разработка ПО

  🔐 Кибербезопасность

  📈 Таргетинг

  Мы делаем акцент чисто на практике!

  Стажеры с первых недель обучения уже работают над реальными практическими кейсами. А программисты которые пришли уже с базой знаний работают над реальными проектами!

  На защиту стартапов наших студентов мы приглашаем партнеров из IT- индустрии.

  В нашем центре 3 курса 📍

  Для начинающих разработчиков со 2️⃣-го курса, по программе нашего Центра , стажёры могут приступать к проектам нашего Центра. И, уже начинать зарабатывать свои первые деньги в IT мире.</p>
          <a class="enroll_button" href="#">Read more</a>
        </div>
      </div>

      <!-- BODY COURSES 3 -->
      <div class="body_w">
        <h1>Our Courses</h1>

        <div class="body_wrap_courses">

          <div class="sections">
            <img class="size" src="{% static "img/1.jpg" %}" alt="">
            <h2>Intro to Scuba</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <input type="submit" name="" value="Read More">
          </div>

          <div class="sections">
            <img class="size" src="{% static "img/2.jpg" %}" alt="">
            <h2>Intro to Scuba</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <input type="submit" name="" value="Read More">
          </div>

          <div class="sections">
            <img class="size" src="{% static "img/3.jpg" %}" alt="">
            <h2>Intro to Scuba</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <input type="submit" name="" value="Read More">
          </div>

        </div>

      </div>

      <!-- BODY 4 -->

      <div class="body_wrap_quotes">

          <h2>“I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”</h2>

      </div>

      <!-- BODY COOPERATION 5 -->

      <div class="body_wrap_cooperation">
        <div class="">
          <img src="" alt="">
        </div>
        <div class="">
          <img src="" alt="">
        </div>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11033661.602092264!2d56.3480047086639!3d47.53343722502968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a91007ecfca947%3A0x5f7b842fe4b30e1b!2sKazakhstan!5e0!3m2!1sen!2skz!4v1670421659562!5m2!1sen!2skz"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

      <!-- BODY CONTACTS 6 -->

      <div class="body_wrap_contacts">
        <div class="">
          <h2>Contact Us</h2>
          <p>500 Terry Francois Street San Francisco, CA 94158</p>
          <a href="#"><img src="" alt=""></a>
          <a href="#"><img src="" alt=""></a>
          <a href="#"><img src="" alt=""></a>
        </div>
        <div class="">
          <form class="" action="index.html" method="post">
            <h1 class="form_title">Register</h1>
            <div class="form_group">
              <input class="form_input" placeholder="Name">
            </div>
            <div class="form_group">
              <input class="form_input" placeholder="Phone number">
            </div>
            <div class="form_group">
              <input class="form_input" placeholder="Subject">
            </div>
            <button class="form_button" type="button" name="button">Enroll</button>
          </form>
        </div>
      </div>


      <!-- FOOTER -->
      <footer>
        <div class="right_footer">
            <img src="{% static "img/logo.webp" %}">
        </div>
        <div class="footer_maps">
            <div class="kdr">
                <a class="border" href=""><p><b>Об Академии</b></p></a>
                <a href=""><p>Главная</p></a>
                <a href=""><p>О нас</p></a>
                <a href="subjects.html"><p>Курсы</p></a>
                <a href=""><p>Записаться</p></a>
            </div>
            <div class="kdr">
                <a class="border" href=""><p><b>Курсы</b></p></a>
                <a href=""><p>Программирование</p></a>
                <a href=""><p>Дизайн</p></a>
                <a href=""><p>Программирование для детей</p></a>
                <a href=""><p>Робототехника для детей </p></a>
            </div>
            <div class="kdr">
                <a class="border" href=""><p><b>Контакты</b></p></a>
                <a href=""><p>8(707)7772817</p></a>
            </div>
            <div class="kdr">
                <a class="border" href=""><p><b>Образование</b></p></a>
                <a href=""><p>Онлайн обучение </p></a>
                <a href=""><p>Мероприятия</p></a>
                <a href=""><p>Блог</p></a>
            </div>
            <div class="kdr">
                <a class="border" href=""><p><b>Вопросы</b></p></a>
                <a href=""><p>Почему мы?</p></a>
                <a href=""><p>Где мы находимся?</p></a>
                <a href=""><p>Как записаться?</p></a>
                <a href=""><p>Какой прайс?</p></a>
            </div>
        </div>
      </footer>


    </main>
  </body>
</html>
