<!DOCTYPE html>
{% load static %}
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href='{% static "css/main.css" %}'>
    <link rel="stylesheet" href='{% static "css/about.css" %}'>
    <link rel="stylesheet" href='{% static "css/subject.css" %}'>
    <link rel="stylesheet" href='{% static "css/call.css" %}'>
    <link rel="stylesheet" href='{% static "css/footer.css" %}'>
    <link rel="stylesheet" href='{% static "css/addditional.css" %}'>
</head>
<body>

<!-- INITIAL BODY -->

<div class="header">

    <ul>
        <a class="site_logo" href="{% static 'img/logo.webp' %}"><img src="" alt=""></a>
        <a class="linkter" href="#general">
            <li>Главная</li>
        </a>
        <a class="linkter" href="#about_page">
            <li>О нас</li>
        </a>
        <a class="linkter" href="subjects">
            <li>Курсы</li>
        </a>
        <a class="linkter" href="#call_page">
            <li>Call</li>
        </a>
    </ul>

    <div class="two_side" id="general">
        <div class="left_side">
            <a><img class="base_size" src="{% static 'img/base.webp' %}"></a>
        </div>

        <div class="right_side">
            <img src="{% static 'img/tl.webp' %}">
            <h1>MAPS - E.C.</h1>
            <p>Мы покажем вам верный путь в IT.</p>
            <a href="" class="button">Записаться 😌</a>
        </div>
    </div>
</div>

<div>
    <img id="img1" src="{% static 'img/tl.webp' %}">
    <img id="img2" src="{% static 'img/quadro.webp' %}">
</div>
<!-- ABOUT -->

<div class="about_us" id="about_page">

    <h1>О нас</h1>
    <div class="about">
        <div class="first">
            <a><img src="{% static 'img/coding.webp' %}"></a>
            <div class="it_block">
                <p>
                    IT STEP University - это первое лицензированное высшее IT-образование на Украине. Наши студенты
                    обучаются по таким направлениям: программирование, графический дизайн, сети и кибербезопасность.

                    Мы делаем акцент на практике. Студенты с первых недель обучения уже работают над реальными
                    практическими кейсами. На защиту стартапов наших студентов мы приглашаем партнеров из IT- индустрии.

                    Начиная со второго курса, по программе “Дуальное образование”, наши студенты могут одновременно
                    обучаться и проходить практику в ведущих международных IT-компаниях: Epam, Eleks, Softserve, Nix
                    Solutions, Sigma. Лучшие из них останутся там работать.
                </p>
            </div>
        </div>
        <div class="second">
            <a><img src="{% static 'img/sixth.webp' %}"></a>
            <div class="it_block">
                <p>
                    IT STEP University - это первое лицензированное высшее IT-образование на Украине. Наши студенты
                    обучаются по таким направлениям: программирование, графический дизайн, сети и кибербезопасность.

                    Мы делаем акцент на практике. Студенты с первых недель обучения уже работают над реальными
                    практическими кейсами. На защиту стартапов наших студентов мы приглашаем партнеров из IT- индустрии.

                    Начиная со второго курса, по программе “Дуальное образование”, наши студенты могут одновременно
                    обучаться и проходить практику в ведущих международных IT-компаниях: Epam, Eleks, Softserve, Nix
                    Solutions, Sigma. Лучшие из них останутся там работать.
                </p>
            </div>
        </div>
        <div class="thirds">
            <a><img src="{% static 'img/sky.webp' %}"></a>
            <div class="it_block">
                <p>
                    IT STEP University - это первое лицензированное высшее IT-образование на Украине. Наши студенты
                    обучаются по таким направлениям: программирование, графический дизайн, сети и кибербезопасность.

                    Мы делаем акцент на практике. Студенты с первых недель обучения уже работают над реальными
                    практическими кейсами. На защиту стартапов наших студентов мы приглашаем партнеров из IT- индустрии.

                    Начиная со второго курса, по программе “Дуальное образование”, наши студенты могут одновременно
                    обучаться и проходить практику в ведущих международных IT-компаниях: Epam, Eleks, Softserve, Nix
                    Solutions, Sigma. Лучшие из них останутся там работать.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- CALL -->

<div class="call_page" id="call_page">
    <div class="left_call_side">
        <a>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11033661.602092264!2d56.3480047086639!3d47.53343722502968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a91007ecfca947%3A0x5f7b842fe4b30e1b!2sKazakhstan!5e0!3m2!1sen!2skz!4v1670421659562!5m2!1sen!2skz"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </a>
    </div>
    <div class="right_call_side">
        <form action="" class="postcard">
            <h1 class="form_title">Записаться 😌</h1>
            <div class="user">
                <input placeholder="Имя">
                <label class="form_title"></label>
            </div>
            <div class="user">
                <input placeholder="Номер телефона">
                <label class="form_title"></label>
            </div>
            <div class="user">
                <input placeholder="Предмет">
                <label class="form_title"></label>
            </div>
            <button class="form_title">Отправить!</button>
        </form>
    </div>
</div>


<!-- FOOTER -->

<div class="footer">
    <div class="right_footer">
        <img src="{% static 'img/logo.webp' %}">
    </div>
    <div class="left_footer">
        <div class="kdr">
            <a class="border" href=""><p><b>Об Академии</b></p></a>
            <a href=""><p>Главная</p></a>
            <a href=""><p>О нас</p></a>
            <a href="subjects.html"><p>Курсы</p></a>
            <a href=""><p>Записаться</p></a>
        </div>
        <div class="kdr">
            <a class="border" href=""><p><b>Курсы</b></p></a>
            <a href=""><p>Программирование</p></a>
            <a href=""><p>Дизайн</p></a>
            <a href=""><p>Программирование для детей</p></a>
            <a href=""><p>Робототехника для детей </p></a>
        </div>
        <div class="kdr">
            <a class="border" href=""><p><b>Контакты</b></p></a>
            <a href=""><p>8(707)7772817</p></a>
        </div>
        <div class="kdr">
            <a class="border" href=""><p><b>Образование</b></p></a>
            <a href=""><p>Онлайн обучение </p></a>
            <a href=""><p>Мероприятия</p></a>
            <a href=""><p>Блог</p></a>
        </div>
        <div class="kdr">
            <a class="border" href=""><p><b>Вопросы</b></p></a>
            <a href=""><p>Почему мы?</p></a>
            <a href=""><p>Где мы находимся?</p></a>
            <a href=""><p>Как записаться?</p></a>
            <a href=""><p>Какой прайс?</p></a>
        </div>
    </div>

</div>

</body>
</html>

<!-- style="background-image: url('s2.png')" ; -->

