/* -------------------------------------- */


html {
    scroll-behavior: smooth;
    background-color: #8f8cf4;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

/* -------------------------------------- */

/* HEADER */


.linkter {
    color: #fafafa;
    text-decoration: none;
    padding: 10px;
}

.header {
    width: 100%;
}

.header ul {
    display: flex;
    width: 100%;
    padding-left: 0;
    text-align: center;
    width: 100%;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding-top: 1%;
}

.header li {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    font-size: 23px;
}

/* -------------------------------------- */

/* BODY1 */
.two_side {
    display: flex;
    margin-top: 7%;
}

.left_side {
    width: 50%;
    text-align: center;
}

.base_size {
    height: 500px;

}

.right_side {
    justify-content: right;
    text-align: center;
    width: 50%;
}

.right_side h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 115px;
    color: #fafafa;
    margin: 90px 0 35px 0;
}

.right_side p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    margin: 40px;
}

.right_side a {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.button:hover {
    background-position: right center;
}

.it_block p {
    width: 300px;
}

/* ---------------------------- */

.first p {
    position: absolute;
}

.second p {
    position: absolute;
}

.thirds p {
    position: absolute;
}

.area h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}
/* ---------------- FORM ----------------- */


